<% include ./partials/header %>
    <div class="row">
        <h1 style="text-align: center">Sign Up</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/user/add" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="userUsername" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="userPassword" placeholder="Password">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="userFirstName" placeholder="First Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="userLastName" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="userEmail" placeholder="Email">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="userWalletAddress" placeholder="Wallet Address">
                </div>
                <div class="form-group">
                    <input class="form-control" type="date" name="userDateOfBirth" placeholder="Date of Birth">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Sign Up</button>
                </div>
            </form>
            <a href="/user/add">Go Back</a>
        </div>
    </div>
<% include ./partials/footer %>
